GITHUB_TOKEN=github_pat_xxxx
APP_SECRET=uma_senha_secreta_forte
ALLOWED_ORIGIN=https://onefinancebpo.github.io


DATABASE_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

JWT_ACESS_SECRET=
JWT_REFRESH_SECRET=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=